@let(nameInitials = $props.get('initials'))
@let(classes = [])

@if($props.get('src'))
  <img {{ $props
  .except(['initials', 'name'])
  .merge({ class: classes })
  .toAttrs() }}>
@elseif(nameInitials)
  <span {{ $props
  .except(['initials', 'name', 'src'])
  .merge({ class: classes })
  .toAttrs() }}> {{ nameInitials.toUpperCase() }} </span>
@end
