@let(fieldKey = $props.get('name'))
@inject({
  name: fieldKey,
  id: $props.get('id') ?? fieldKey,
  groupCounter: 0,
  oldValue: old(fieldKey) || '',
  errors: flashMessages.get('inputErrorsBag', {})[fieldKey],
  hasErrors: fieldKey in flashMessages.get('inputErrorsBag', {}),
})
{{{ await $slots.main() }}}
