@layout()
  <div class="hero">
    <h1>It works — welcome to the simplicity of a Hypermedia app</h1>
    <p>A lightweight foundation for building modern web interfaces — straightforward, flexible, and true to the web’s core simplicity.</p>
  </div>

  <div class="cards">
    <a href="https://insiders.adonisjs.com/docs/v7-alpha/introduction">
      <h2>Official Docs</h2>
      <p>Comprehensive reference for building with AdonisJS</p>
    </a>

    <a href="https://adocasts.com/">
      <h2>Adocasts</h2>
      <p>Guided video tutorials for everyday development</p>
    </a>

    <a href="https://discord.gg/vDcEjq6">
      <h2>Discord</h2>
      <p>Connect with developers building with AdonisJS every day</p>
    </a>
  </div>
@end
