@layout()
  <div class="hero">
    {{-- <img src="resources/images/hero.png" width="200" alt="hero image" /> --}}
    <h1>It works — welcome to the simplicity of a Hypermedia app</h1>
    <p>A lightweight foundation for building modern web interfaces — straightforward, flexible, and true to the web's core simplicity.</p>
  </div>

  <div class="cards">
    <a href="https://insiders.adonisjs.com/docs/v7-alpha/introduction">
      <img src="resources/images/docs.svg" width="30" alt="">
      <h3>Official Docs &nbsp;›</h3>
      <p>Comprehensive reference for building with AdonisJS</p>
    </a>

    <a href="https://adocasts.com/">
      <img src="resources/images/video.svg" width="30" alt="">
      <h3>Adocasts &nbsp;›</h3>
      <p>Guided video tutorials for everyday development</p>
    </a>

    <a href="https://discord.gg/vDcEjq6">
      <img src="resources/images/discord.svg" width="30" alt="">
      <h3>Discord &nbsp;›</h3>
      <p>Connect with developers building with AdonisJS every day</p>
    </a>
  </div>
@end
